<section>

  <div class="d-flex justify-content-between">
    <h4>Listado de personas</h4>
    <a routerLink="/employee/create" class="btn btn-success">Crear nuevo empleado</a>
    <a routerLink="/position/index" class="btn btn-success">Cargos</a>
    <a routerLink="/type_document/index" class="btn btn-success">Tipos de documento</a>
  </div>

  <br>

  <table class="table ">
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>No. documento</th>
      <th>Tipo de documento</th>
      <th>Cargo</th>
      <th width="220px">Action</th>
    </tr>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.name }}</td>
      <td>{{ employee.tel }}</td>
      <td>{{ employee.n_document }}</td>
      <td>{{ employee.type_document }}</td>
      <td>{{ employee.cargo }}</td>
      <td>
        <a href="#" [routerLink]="['/employee/', 'edit', employee.id  ]" class="btn btn-primary">Edit</a>
        <button type="button" (click)="deletePosition(employee.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>
</section>

